ServicesSOAP/src/wsdl/users.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions 
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://localhost/wsdl/users"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://localhost/wsdl/users"
    name="UsersService">

    <!-- ================= TYPES ================= -->
    <types>
        <xsd:schema targetNamespace="http://localhost/wsdl/users" elementFormDefault="qualified">
            
            <!-- User -->
            <xsd:complexType name="User">
                <xsd:sequence>
                    <xsd:element name="first_name" type="xsd:string"/>
                    <xsd:element name="last_name" type="xsd:string"/>
                    <xsd:element name="email" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element name="rol" type="xsd:string"/>
                    <xsd:element name="state" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Generic Response -->
            <xsd:complexType name="Response">
                <xsd:sequence>
                    <xsd:element name="success" type="xsd:boolean"/>
                    <xsd:element name="message" type="xsd:string"/>
                    <!-- Para login también puede devolver un usuario -->
                    <xsd:element name="user" type="tns:User" minOccurs="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <!-- Requests & Responses -->
            <xsd:element name="AddUserRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="user" type="tns:User"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="AddUserResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="ListUsersRequest" type="xsd:anyType"/>
            <xsd:element name="ListUsersResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <!-- Devuelves JSON string -->
                        <xsd:element name="users" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="LoginRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="email" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:element name="LoginResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="return" type="tns:Response"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </types>

    <!-- ================= MESSAGES ================= -->
    <message name="AddUserRequestMessage">
        <part name="parameters" element="tns:AddUserRequest"/>
    </message>
    <message name="AddUserResponseMessage">
        <part name="parameters" element="tns:AddUserResponse"/>
    </message>

    <message name="ListUsersRequestMessage">
        <part name="parameters" element="tns:ListUsersRequest"/>
    </message>
    <message name="ListUsersResponseMessage">
        <part name="parameters" element="tns:ListUsersResponse"/>
    </message>

    <message name="LoginRequestMessage">
        <part name="parameters" element="tns:LoginRequest"/>
    </message>
    <message name="LoginResponseMessage">
        <part name="parameters" element="tns:LoginResponse"/>
    </message>

    <!-- ================= PORT TYPE ================= -->
    <portType name="UsersServicePortType">
        <operation name="addUser">
            <input message="tns:AddUserRequestMessage"/>
            <output message="tns:AddUserResponseMessage"/>
        </operation>
        <operation name="listUsers">
            <input message="tns:ListUsersRequestMessage"/>
            <output message="tns:ListUsersResponseMessage"/>
        </operation>
        <operation name="loginUser">
            <input message="tns:LoginRequestMessage"/>
            <output message="tns:LoginResponseMessage"/>
        </operation>
    </portType>

    <!-- ================= BINDING ================= -->
    <binding name="UsersServiceBinding" type="tns:UsersServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <operation name="addUser">
            <soap:operation soapAction="http://localhost/wsdl/users/addUser"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

        <operation name="listUsers">
            <soap:operation soapAction="http://localhost/wsdl/users/listUsers"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>

        <operation name="loginUser">
            <soap:operation soapAction="http://localhost/wsdl/users/loginUser"/>
            <input><soap:body use="literal"/></input>
            <output><soap:body use="literal"/></output>
        </operation>
    </binding>

    <!-- ================= SERVICE ================= -->
    <service name="UsersService">
        <port name="UsersServicePort" binding="tns:UsersServiceBinding">
            <soap:address location="http://localhost:8000/src/server.php"/>
        </port>
    </service>

</definitions>
